<a href="https://colab.research.google.com/github/azizamari/stock_price_prediction/blob/main/Stock_Market_Prediction_using_Numerical_and_Textual_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install yfinance

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting yfinance
  Downloading yfinance-0.2.3-py2.py3-none-any.whl (50 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 50.4/50.4 KB 2.7 MB/s eta 0:00:00
Requirement already satisfied: numpy>=1.16.5 in /usr/local/lib/python3.8/dist-packages (from yfinance) (1.21.6)
Collecting cryptography>=3.3.2
  Downloading cryptography-39.0.0-cp36-abi3-manylinux_2_24_x86_64.whl (4.1 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 4.1/4.1 MB 37.1 MB/s eta 0:00:00
Requirement already satisfied: lxml>=4.9.1 in /usr/local/lib/python3.8/dist-packages (from yfinance) (4.9.2)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.8/dist-packages (from yfinance) (0.0.11)
Collecting requests>=2.26
  Downloading requests-2.28.1-py3-none-any.whl (62 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 62.8/62.8 KB 7.7 MB/s eta 0:00:00
Requirement already satisfied: appdirs>=1.4.4 in /usr/local/lib/python3.8/dist-packages (from yfinance) (1.4.4)
Collecting html5lib>=1.1
  Downloading html5lib-1.1-py2.py3-none-any.whl (112 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 112.2/112.2 KB 12.0 MB/s eta 0:00:00
Requirement already satisfied: pandas>=1.3.0 in /usr/local/lib/python3.8/dist-packages (from yfinance) (1.3.5)
Collecting frozendict>=2.3.4
  Downloading frozendict-2.3.4-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (110 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 111.0/111.0 KB 12.3 MB/s eta 0:00:00
Collecting beautifulsoup4>=4.11.1
  Downloading beautifulsoup4-4.11.1-py3-none-any.whl (128 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 128.2/128.2 KB 14.3 MB/s eta 0:00:00
Requirement already satisfied: pytz>=2022.5 in /usr/local/lib/python3.8/dist-packages (from yfinance) (2022.7)
Collecting soupsieve>1.2
  Downloading soupsieve-2.3.2.post1-py3-none-any.whl (37 kB)
Requirement already satisfied: cffi>=1.12 in /usr/local/lib/python3.8/dist-packages (from cryptography>=3.3.2->yfinance) (1.15.1)
Requirement already satisfied: webencodings in /usr/local/lib/python3.8/dist-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: six>=1.9 in /usr/local/lib/python3.8/dist-packages (from html5lib>=1.1->yfinance) (1.15.0)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=1.3.0->yfinance) (2.8.2)
Requirement already satisfied: charset-normalizer<3,>=2 in /usr/local/lib/python3.8/dist-packages (from requests>=2.26->yfinance) (2.1.1)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests>=2.26->yfinance) (2022.12.7)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests>=2.26->yfinance) (1.24.3)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests>=2.26->yfinance) (2.10)
Requirement already satisfied: pycparser in /usr/local/lib/python3.8/dist-packages (from cffi>=1.12->cryptography>=3.3.2->yfinance) (2.21)
Installing collected packages: soupsieve, requests, html5lib, frozendict, cryptography, beautifulsoup4, yfinance
  Attempting uninstall: requests
    Found existing installation: requests 2.25.1
    Uninstalling requests-2.25.1:
      Successfully uninstalled requests-2.25.1
  Attempting uninstall: html5lib
    Found existing installation: html5lib 1.0.1
    Uninstalling html5lib-1.0.1:
      Successfully uninstalled html5lib-1.0.1
  Attempting uninstall: beautifulsoup4
    Found existing installation: beautifulsoup4 4.6.3
    Uninstalling beautifulsoup4-4.6.3:
      Successfully uninstalled beautifulsoup4-4.6.3
Successfully installed beautifulsoup4-4.11.1 cryptography-39.0.0 frozendict-2.3.4 html5lib-1.1 requests-2.28.1 soupsieve-2.3.2.post1 yfinance-0.2.3

## Importing Dependencies

In [ ]:
import yfinance as yf
import pandas as pd
import nltk
import re
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer

In [ ]:
# define dates
start='2021-10-01'
end='2022-01-01'
startstamp=20211001

## Get data from yahoo finance

In [ ]:
past_data = yf.download('^BSESN', start=start, end=end)

[*********************100%***********************]  1 of 1 completed

In [ ]:
print(past_data.columns)
past_data.head()

Index(['Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume'], dtype='object')

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2021-10-01,58889.769531,58890.078125,58551.140625,58765.578125,58765.578125,10200
2021-10-04,59143.000000,59548.820312,58952.109375,59299.320312,59299.320312,10000
2021-10-05,59320.140625,59778.871094,59127.039062,59744.878906,59744.878906,12900
2021-10-06,59942.000000,59963.570312,59079.859375,59189.730469,59189.730469,7000
2021-10-07,59632.808594,59914.910156,59597.058594,59677.828125,59677.828125,5700

In [ ]:
past_data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 983 entries, 2018-01-01 to 2021-12-31
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   open      983 non-null    float64
 1   high      983 non-null    float64
 2   low       983 non-null    float64
 3   close     983 non-null    float64
 4   adjclose  983 non-null    float64
 5   volume    983 non-null    int64
dtypes: float64(5), int64(1)
memory usage: 53.8 KB

## Get india news headlines dataset

In [ ]:
! pip install kaggle

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: kaggle in /usr/local/lib/python3.8/dist-packages (1.5.12)
Requirement already satisfied: certifi in /usr/local/lib/python3.8/dist-packages (from kaggle) (2022.12.7)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.8/dist-packages (from kaggle) (7.0.0)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.8/dist-packages (from kaggle) (1.15.0)
Requirement already satisfied: tqdm in /usr/local/lib/python3.8/dist-packages (from kaggle) (4.64.1)
Requirement already satisfied: requests in /usr/local/lib/python3.8/dist-packages (from kaggle) (2.28.1)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.8/dist-packages (from kaggle) (2.8.2)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.8/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.8/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests->kaggle) (2.10)
Requirement already satisfied: charset-normalizer<3,>=2 in /usr/local/lib/python3.8/dist-packages (from requests->kaggle) (2.1.1)

In [ ]:
! mkdir ~/.kaggle

In [ ]:
! cp kaggle.json ~/.kaggle/

In [ ]:
! chmod 600 ~/.kaggle/kaggle.json

In [ ]:
!kaggle datasets download -d therohk/india-headlines-news-dataset

Downloading india-headlines-news-dataset.zip to /content
 98% 85.0M/86.6M [00:03<00:00, 31.6MB/s]
100% 86.6M/86.6M [00:03<00:00, 25.2MB/s]

In [ ]:
!unzip india-headlines-news-dataset.zip

Archive:  india-headlines-news-dataset.zip
  inflating: india-news-headlines.csv

In [ ]:
cols = ['Date','News']
news_data = pd.read_csv('india-news-headlines.csv', names = cols)
news_data = news_data.dropna(axis = 0, how ='any') 
news_data.head()

/usr/local/lib/python3.8/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,Date,News
publish_date,headline_category,headline_text
20010102,unknown,Status quo will not be disturbed at Ayodhya; s...
20010102,unknown,Fissures in Hurriyat over Pak visit
20010102,unknown,America's unwanted heading for India?
20010102,unknown,For bigwigs; it is destination Goa

### Data prep news data

In [ ]:
news_data.head()

,Date,News
publish_date,headline_category,headline_text
20010102,unknown,Status quo will not be disturbed at Ayodhya; s...
20010102,unknown,Fissures in Hurriyat over Pak visit
20010102,unknown,America's unwanted heading for India?
20010102,unknown,For bigwigs; it is destination Goa

In [ ]:
news=news_data['News'].iloc[1:].values

In [ ]:
dates=news_data.index[1:].values

In [ ]:
news_data=pd.DataFrame(data={'date':dates,'news':news})

In [ ]:
news_data.head()

       date                                               news
0  20010102  Status quo will not be disturbed at Ayodhya; s...
1  20010102                Fissures in Hurriyat over Pak visit
2  20010102              America's unwanted heading for India?
3  20010102                 For bigwigs; it is destination Goa
4  20010102               Extra buses to clear tourist traffic

In [ ]:
news_data.describe()

            date              news
count    3650970           3650970
unique      7718           3387380
top     20141215  Straight Answers
freq         706              6723

In [ ]:
news_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3650970 entries, 0 to 3650969
Data columns (total 2 columns):
 #   Column  Dtype
---  ------  -----
 0   date    object
 1   news    object
dtypes: object(2)
memory usage: 55.7+ MB

In [ ]:
news_data.isnull().sum()

date    0
news    0
dtype: int64

In [ ]:
news_data.duplicated().sum()

162098

In [ ]:
# drop duplicated data
news_data.drop_duplicates(keep='first', inplace=True, ignore_index=True)

In [ ]:
news_data.duplicated().sum()

0

In [ ]:
news_data['date'] = pd.to_numeric(news_data['date'])

In [ ]:
# drop news before 2021-10-01
news_data.drop(news_data[news_data['date']<20211001].index,inplace=True)

In [ ]:
# dropping data messes up indexes
news_data.reset_index(inplace = True, drop = True)

In [ ]:
len(news_data)

87701

### Data prep yahoo finance data

In [ ]:
past_data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 63 entries, 2021-10-01 to 2021-12-31
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Open       63 non-null     float64
 1   High       63 non-null     float64
 2   Low        63 non-null     float64
 3   Close      63 non-null     float64
 4   Adj Close  63 non-null     float64
 5   Volume     63 non-null     int64
dtypes: float64(5), int64(1)
memory usage: 3.4 KB

In [ ]:
past_data.reset_index(inplace=True)

In [ ]:
past_data.rename(columns={
      'Date':'date',
      'Open': 'open',
      'High': 'high',
      'Low': 'low',
      'Close': 'close',
      'Adj Close': 'adjclose',
      'Volume': 'volume'},
      inplace = True
)

In [ ]:
past_data.describe()

,open,high,low,close,adjclose,volume
count,63.000000,63.000000,63.000000,63.000000,63.000000,63.000000
mean,59233.257564,59493.432602,58762.142981,59095.553447,59095.553447,9368.253968
std,1534.928686,1453.983828,1540.406671,1505.290274,1505.290274,7131.299149
min,56320.019531,56538.148438,55132.679688,55822.011719,55822.011719,1800.000000
25%,57938.128906,58236.519531,57660.949219,57800.404297,57800.404297,6450.000000
50%,59320.140625,59778.371094,58952.109375,59189.730469,59189.730469,7600.000000
75%,60327.935547,60557.830078,59956.109375,60303.339844,60303.339844,9200.000000
max,62156.480469,62245.429688,61624.648438,61765.589844,61765.589844,48400.000000

In [ ]:
past_data.date=past_data.date.dt.strftime('%Y%m%d').astype(int)

In [ ]:
past_data

,date,open,high,low,close,adjclose,volume
0,20211001,58889.769531,58890.078125,58551.140625,58765.578125,58765.578125,10200
1,20211004,59143.000000,59548.820312,58952.109375,59299.320312,59299.320312,10000
2,20211005,59320.140625,59778.871094,59127.039062,59744.878906,59744.878906,12900
3,20211006,59942.000000,59963.570312,59079.859375,59189.730469,59189.730469,7000
4,20211007,59632.808594,59914.910156,59597.058594,59677.828125,59677.828125,5700
...,...,...,...,...,...,...,...
58,20211227,56948.328125,57512.011719,56543.078125,57420.238281,57420.238281,5700
59,20211228,57751.210938,57952.480469,57650.289062,57897.480469,57897.480469,5500
60,20211229,57892.308594,58097.070312,57684.578125,57806.488281,57806.488281,5300
61,20211230,57755.398438,58010.031250,57578.988281,57794.320312,57794.320312,7300
62,20211231,57849.761719,58409.300781,57846.519531,58253.820312,58253.820312,7000

## Perform Sentiment Analysis

In [ ]:
# stemming news headlines
# this takes some time

nltk.download('stopwords')
ps = PorterStemmer()

c = []
stopwrds= set(stopwords.words('english'))
for i in range(len(news_data['news'])):
    news = re.sub('[^a-zA-Z]',' ',news_data['news'][i])
    news = news.lower()
    news = news.split()
    news = [ps.stem(word) for word in news if not word in stopwrds]
    news=' '.join(news)
    c.append(news)

In [ ]:
news_data['news']=pd.Series(c)

### Subjectivity and Polarity

We will use TextBlob for calculating them <br>Polarity > 0 means it's positive otherwise negative<br>Subjectivity quantifies how personal or factual it is, high subjectivity means it more of a personal opinion

In [ ]:
from textblob import TextBlob

# we will apply these functions to news_headlines
def getSubjectivity(text):
  return TextBlob(text).sentiment.subjectivity

def getPolarity(text):
  return  TextBlob(text).sentiment.polarity

In [ ]:
# Takes forever
news_data['subjectivity'] = news_data['news'].apply(getSubjectivity)
news_data['polarity'] = news_data['news'].apply(getPolarity)
news_data.head()

,date,news,subjectivity,polarity
0,20211001,dogecoin dark hors among cryptocurr,0.40,-0.15
1,20211001,cop dhananjaya play childhood dream salaga,0.00,0.00
2,20211001,five oat dish love,0.60,0.50
3,20211001,horoscop today octob check astrolog predict ar...,0.00,0.00
4,20211001,durga puja committe opt low key celebr,0.65,0.00

In [ ]:
news_data.to_csv('checkpoint.csv')

In [ ]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer
nltk.download('vader_lexicon')
sia = SentimentIntensityAnalyzer()

[nltk_data] Downloading package vader_lexicon to /root/nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

In [ ]:
news_data['compound'] = [sia.polarity_scores(v)['compound'] for v in news_data['news']]
news_data['negative'] = [sia.polarity_scores(v)['neg'] for v in news_data['news']]
news_data['neutral'] = [sia.polarity_scores(v)['neu'] for v in news_data['news']]
news_data['positive'] = [sia.polarity_scores(v)['pos'] for v in news_data['news']]

In [ ]:
news_data.head()

,date,news,subjectivity,polarity,Compound,Negative,Neutral,Positive,compound,negative,neutral,positive
0,20211001,dogecoin dark hors among cryptocurr,0.40,-0.15,0.0000,0.000,1.000,0.000,0.0000,0.000,1.000,0.000
1,20211001,cop dhananjaya play childhood dream salaga,0.00,0.00,0.5267,0.000,0.476,0.524,0.5267,0.000,0.476,0.524
2,20211001,five oat dish love,0.60,0.50,0.6369,0.000,0.417,0.583,0.6369,0.000,0.417,0.583
3,20211001,horoscop today octob check astrolog predict ar...,0.00,0.00,-0.6597,0.306,0.694,0.000,-0.6597,0.306,0.694,0.000
4,20211001,durga puja committe opt low key celebr,0.65,0.00,-0.2732,0.259,0.741,0.000,-0.2732,0.259,0.741,0.000

## Merge data for hybird model

In [ ]:
merged_data = pd.merge(past_data, news_data, how='inner', on='date')

In [ ]:
merged_data.isnull().sum()

date            0
open            0
high            0
low             0
close           0
adjclose        0
volume          0
news            0
subjectivity    0
polarity        0
Compound        0
Negative        0
Neutral         0
Positive        0
compound        0
negative        0
neutral         0
positive        0
dtype: int64

In [ ]:
merged_data.drop(['news','date'], axis=1, inplace=True)

In [ ]:
merged_data.head()

,open,high,low,close,adjclose,volume,subjectivity,polarity,Compound,Negative,Neutral,Positive,compound,negative,neutral,positive
0,58889.769531,58890.078125,58551.140625,58765.578125,58765.578125,10200,0.40,-0.15,0.0000,0.000,1.000,0.000,0.0000,0.000,1.000,0.000
1,58889.769531,58890.078125,58551.140625,58765.578125,58765.578125,10200,0.00,0.00,0.5267,0.000,0.476,0.524,0.5267,0.000,0.476,0.524
2,58889.769531,58890.078125,58551.140625,58765.578125,58765.578125,10200,0.60,0.50,0.6369,0.000,0.417,0.583,0.6369,0.000,0.417,0.583
3,58889.769531,58890.078125,58551.140625,58765.578125,58765.578125,10200,0.00,0.00,-0.6597,0.306,0.694,0.000,-0.6597,0.306,0.694,0.000
4,58889.769531,58890.078125,58551.140625,58765.578125,58765.578125,10200,0.65,0.00,-0.2732,0.259,0.741,0.000,-0.2732,0.259,0.741,0.000

## Multivariate time series forecasting